@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: inherit;
    font-family: "Inter", sans-serif;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
  
  .filter-item {
    @apply bg-gray-100 p-2 shadow rounded-md h-[45px] font-medium text-base;
    font-family: "Inter", sans-serif;
  }

  .filter-icon {
    @apply w-4 h-4;
  }

  .basic-font {
    font-family: "Inter", sans-serif;
  }
  
  .green-text {
    color: rgb(34, 197, 94);
  }
}
